<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Update Data</title>
</head>

<body>
    <section class="logins py-12">
        <div class="container py-xl-12 py-lg-12">
            <div class="title-section mb-md-12 mb-12">
                <h6 class="w3ls-title-sub"></h6>
                <h3 class="w3ls-title text-uppercase text-dark font-weight-bold">Update Delegates</h3>
            </div>
            <hr />
            <div class="login px-sm-12" style="width:100%">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>ID</label>
                            <input type="number" class="form-control" value="{{excel.id}}" name="id"
                                placeholder="Id" required="" readonly>
                        </div>
                        <div class="col-md-6">
                            <label>ID_No</label>
                            <input type="text" class="form-control" value="{{excel.ID_No}}" name="ID_No"
                                placeholder="ID_No" required="">
                        </div>
                        <div class="col-md-6">
                            <label>Name_Of_Delegates</label>
                            <input type="text" class="form-control" value="{{excel.Name_Of_Delegates}}" name="Name_Of_Delegates"
                                placeholder="Name_Of_Delegates" required="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Certificate_No</label>
                            <input type="text" class="form-control" value="{{excel.Certificate_No}}" name="Certificate_No"
                                placeholder="Certificate_No" required="">
                        </div>
                        <div class="col-md-6">
                            <label>Course</label>
                            <input type="text" class="form-control" name="Course" value="{{excel.Course}}"
                                placeholder="Course" required="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Company</label>
                            <input type="text" class="form-control" value="{{excel.Company}}" name="Company"
                                placeholder="Company" required="">
                        </div>
                        <div class="col-md-4">
                            <label>Instructor</label>
                            <input type="text" class="form-control" name="Instructor" value="{{excel.Instructor}}" placeholder="Instructor">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit mt-4">Update Detail</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>