<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/excel/upload_excel.css">
    <script src="/static/js/upload_excel.js"></script>
    <title>Upload_Excel</title>

</head>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <input type="FILE" name='my_file' required>
        <button type="submit">Upload</button> -->
        <div class="wrapper">
            <div class="container">
                <h1>Upload A Excel File</h1>
                <div class="upload-container">
                    <div class="border-container">
                        <div class="icons fa-4x">
                            <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                            <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                            <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                        </div>
                        <!--<input type="file" id="file-upload">-->
                        <p>Import excel file here -
                            <!-- <a href="#" id="file-browser">browse</a> your computer.</p> -->
                            <input type="FILE" name='my_file' required>
                            <button type="submit">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>